.container-about{
    display: flex;
    flex-direction: column;
    padding: 20px 2%;
    min-height: 100vh;
}

.container-about .title{
    margin: 2.4rem auto auto auto;
    font-size: 30px;
    text-align: center;
}

.container-about .info{
    max-width: 80%;
    background-color: rgb(75, 75, 75); 
    margin: 2rem auto auto auto;
    font-size: 20px;
    padding: 3rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius:  2rem 0 2rem 0;
    border: 1px solid #F7D354;
}

.container-about .info ul,.container-about .info h4{
    text-align: start;
    margin: .4rem 0;
}

/**Responsivo**/
@media (max-width: 460px){
    .container-about .info{
        max-width: 80%;
        background-color: rgb(75, 75, 75); 
        margin: 3rem auto;
        font-size: 20px;
        padding: 2.5rem 2rem;
        text-align: start;
        display: flex;
        flex-direction: column;
        border-radius:  2rem 0 2rem 0;
        border: 1px solid #F7D354;
    }
}
